@font-face {
  font-family: 'otrodiaenelparaiso';
  src: url(./fonts/AnotherdayinParadise.ttf);
  }
  @font-face {
    font-family: 'otrodiaenelparaiso';
       src: url(./fonts/AnotherdayinParadise.eot);
       }

body,html
{
    font-family:sans-serif,arial;
}
label {
    display: inline-block;
    width: 5em;
  }


.editor-textarea {width:inherit;height:inherit;}
.editor-container{margin:1%; background:#FFFFFF; -webkit-box-shadow: 0px 0px 22px -11px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 0px 22px -11px rgba(0,0,0,0.75); box-shadow: 0px 0px 22px -11px rgba(0,0,0,0.75);}
 .editor-toolbar{background:#ffff; padding:0.8%;border-color: black}
 .editor-button{margin:0 0.3%; display:inline-block; color:#B5B5B5; padding:0.3% 0.8%;
  border-radius:5px; -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -ms-transition: all 200ms ease-in-out; 
  -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; outline:none; text-decoration:none;}
  .editor-button:hover,.editor-button:focus{background:#5B5A5A; color:#D6D6D6; outline:none;}
  .editor-window{background:#FAFAFA; padding:1%; height:30em; overflow:auto;}
  .dropdown{
    width:10em; display:inline-block; position:relative; background:#3D3D3D; -moz-box-shadow: 0 0 9px -4px #000000; -webkit-box-shadow: 0 0 9px -4px #000000;
    box-shadow: 0 0 9px -4px #000000;}
    .dropdown-btt{display:block; color:#B5B5B5;}
    .dropdown-btt:hover,.dropdown-btt:focus
    {background:#5B5A5A; color:#D6D6D6; outline:none; -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; 
    -ms-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; outline:none; text-decoration:none;}
    .drop{display:inline-block;}


    /*#######################################################---------Cargar imagenes----------###########################################################*/
   
    
      .hidden,
      #uploadImg:not(.hidden) + label {
        display: none;
      }
      #file {
        display: none;
        margin: 0 auto;
      }

      .faimg {
        cursor: pointer;
      }
      #upload {
        display: none;
        padding: 10px 25px;
        border: 0;
        margin: 0 auto;
        font-size: 15px;
        letter-spacing: 0.05em;
        cursor: pointer;
        background: #216e69;
        color: #fff;
        outline: none;
        transition: 0.3s ease-in-out;
      }
      #upload:hover,
      #upload:focus {
        background: #1aa39a;
      }
      #upload:active {
        background: #13d4c8;
        transition: 0.1s ease-in-out;
      }
      img {
        display: block;
      }
      img.resize {
        max-width:50%;
        max-height:50%;
      }

    /*#######################################################---------Cargar imagenes----------###########################################################*/

 .large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}



.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

.app .main-title {
   text-transform: uppercase;
   font-size: 2.2em;
   font-family: 'otrodiaenelparaiso';
   letter-spacing: 0.1em;
}

.main-title .thin {
   font-weight: 200;
}

@media only screen and (max-width: 768px) {
   .app .main-title {
      font-size: 3em;
   }
}
